.upstreamPaymentManagement {
    .tag_top{
        margin-bottom: 10px;
    }
    //
    .editordrawerbox {
        /deep/ .el-drawer__header {
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
            font-size: 18px;
            margin-bottom:10px;
        }
        .drawer-content{
            padding:0 20px;
        }
    }
    .drawer-content-footer{
        text-align: right;
        box-sizing: border-box;
        padding-right: 20px;
        margin-bottom: 20px;
        border-top:1px solid #cecaca ;
    }
    .dialog-ctx{
        height: 500px;
        overflow-y: scroll;
        
    }
    ::-webkit-scrollbar-thumb {
        background-color: #d6d1d1 !important;
    }
    /deep/.el-dialog .el-form .el-form-item{
        margin-bottom: 0px;
    }
    .dialog-flex-layout{
        display: flex;
        flex-flow: wrap;
        margin-bottom: 15px;
        .el-form-item{
            flex: 0 0 350px;
        }
    }
    .prev_wrap{
        display: flex;
        &-box{
            margin-right: 50px;
        }
        &-proof{
            margin-top: 15px;
        }
        &-flex{
            display: flex;
            flex-wrap: wrap;

        }
        &-flexpic{
            width: 100px;
            margin: 10px;
        }
    }
}