@font-face {
  font-family: "iconfont"; /* Project id 1229056 */
  src: url('iconfont.woff2?t=1632464955992') format('woff2'),
       url('iconfont.woff?t=1632464955992') format('woff'),
       url('iconfont.ttf?t=1632464955992') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shushiyunlogo:before {
  content: "\e65a";
}

.hosjoy_offline:before {
  content: "\e628";
}

.hosjoy_online:before {
  content: "\e62a";
}

.hosjoy_reimbursement:before {
  content: "\e62b";
}

.hosjoy_total:before {
  content: "\e62c";
}

.a-hosjoy_overdue3x:before {
  content: "\e62d";
}

.hosjoy_withdrawal:before {
  content: "\e62e";
}

.hosjoy_advance:before {
  content: "\e62f";
}

.shushiyun_merchant1:before {
  content: "\e629";
}

.hosjoy_hzh:before {
  content: "\e60a";
}

.hosjoy_hcg:before {
  content: "\e623";
}

.hosjoy_jgzx:before {
  content: "\e624";
}

.hosjoy_zjzf:before {
  content: "\e625";
}

.hosjoy_ptgsjsc:before {
  content: "\e626";
}

.hosjoy_shushiyun:before {
  content: "\e627";
}

.leftbar_grey_shebeix:before {
  content: "\e603";
}

.leftbar_grey_home:before {
  content: "\e601";
}

.leftbar_grey_user:before {
  content: "\e602";
}

.hosjoy_jindiao:before {
  content: "\e632";
}

.hosjoy_info:before {
  content: "\e622";
}

.icon_network_outage:before {
  content: "\e621";
}

.hosjoy_right1:before {
  content: "\e609";
}

.hosjoy_eye_close:before {
  content: "\e608";
}

.hosjoy_eye:before {
  content: "\e607";
}

.hosjoy_stay_online:before {
  content: "\e606";
}

.hosjoy_permissions:before {
  content: "\e605";
}

.hosjoy_cloud_service:before {
  content: "\e604";
}

.hosjoy_date:before {
  content: "\e60b";
}

.hosjoy_account:before {
  content: "\e60c";
}

.hosjoy_down:before {
  content: "\e60d";
}

.hosjoy_goods:before {
  content: "\e60e";
}

.hosjoy_left:before {
  content: "\e60f";
}

.hosjoy_member:before {
  content: "\e610";
}

.hosjoy_minus:before {
  content: "\e611";
}

.hosjoy_home:before {
  content: "\e612";
}

.hosjoy_indent:before {
  content: "\e613";
}

.hosjoy_password:before {
  content: "\e614";
}

.hosjoy_right:before {
  content: "\e615";
}

.hosjoy_search:before {
  content: "\e616";
}

.hosjoy_operation:before {
  content: "\e617";
}

.hosjoy_money:before {
  content: "\e618";
}

.hosjoy_plus:before {
  content: "\e619";
}

.hosjoy_outdent:before {
  content: "\e61a";
}

.hosjoy_store:before {
  content: "\e61b";
}

.hosjoy_return:before {
  content: "\e61c";
}

.hosjoy_help:before {
  content: "\e61d";
}

.hosjoy_order:before {
  content: "\e61e";
}

.hosjoy_up:before {
  content: "\e61f";
}

.hosjoy_set:before {
  content: "\e620";
}

