.liveplayer{
    /deep/  .label_img{
          width: 50px;
          height: 50px;
          img{
              width: 50px;
              height: 50px;
          }
      }
  }
  .avatarVideo{
    width: 400px;
    height: 300px;
    display: block;
    margin: 0 auto
}

