.service-tit{
    font-size: 16px;
}
.service-wrap{
    padding: 0 10px;
    .el-row{
        margin-top: 15px;
        margin-bottom: 15px;
        span{
            color: #666666;
        }
    }
}