/deep/ .el-dialog {
    overflow: hidden;

    .el-dialog__body {
        height: 600px;
        overflow: auto;
    }
}

.add-cont__row {
    margin: 20px 0;
}

/deep/ .city-select .el-input {
    width: 184px !important;
}

/deep/ .city-select .el-select {
    width: 184px !important;
}

.eltagtop {
    margin-bottom: 15px;
}

.flex {
    display: flex;

    &_item {
        /deep/ .el-form-item__content {
            margin-left: 0 !important;
        }

        /deep/ .el-form-item__error {
            padding-left: 20px;
        }
    }
}