.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
}
.flex-wrap {
    display: flex;
    margin-bottom: 20px;
    .page-left {
        width: 20%;
        border: 1px solid #e5e5ee;
        padding: 10px;
        height: 650px;
        overflow-y: scroll;
    }
    .page-right {
        width: 65%;
        border: 1px solid #e5e5ee;
        padding: 10px;
        height: 650px;
        overflow-y: scroll;
    }
    .page-center {
        width: 10%;
        justify-content: center;
        display: flex;
        align-items: center;
    }
}
.page-left-tree {
    width: 300px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
}
.page-right-tree {
    width: 600px;
    overflow-x: scroll;
    .el-tag {
        margin-right: 10px;
    }
}
.page-title {
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px;
    &::before {
        content: '';
        border-left: 2px solid #ff7a45;
        height: 90%;
        position: absolute;
        top: 0px;
        left: 0;
    }
}
