.service-tit{
    font-size: 16px;
}
.service-wrap{
    padding: 0 10px;
    .el-row{
        margin-top: 15px;
        span{
            color: #666666;
        }
    }
}
.project_wrap{
}
.el-textarea{
    /deep/.el-input__count{
        line-height: 10px;
    }
}


// /deep/.el-dialog .el-input{
//     width: 100% !important;
// }